<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2>Squirrel Statistics:</h2>

<table>
  <tr>
    <th>runs from humans</th>
    <th>dont run from humans</th>
    <th>sighted above ground</th>
    <th>sighted at ground level</th>
    <th>Squirrel was seen chasing another squirrel</th>
    <th>Squirrel was heard moaning</th>
    <th>Squirrel was heard kukking</th>
  </tr>
  <tr>
	  <td>{{runs_yes}}</td>
	  <td>{{runs_no}}</td>
	  <td>{{Above_Ground}}</td>
	  <td>{{Ground_Plane}}</td>
	  <td>{{chase_yes}}</td>
	  <td>{{moans_yes}}</td>
	  <td>{{kuks_yes}}</td>
  </tr>
</table>

</body>
</html>
